body{
    background-color: antiquewhite;
}

p, .button{
    display:flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 30px;  
}

.button{
    padding-top: 15px;
    padding-bottom: 15px;
}

#flip_button{
    padding: 20px;
    font-size:40px;
    background-color: darkcyan;
}

.result{
    display:flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
    color: rgb(13, 123, 196);
}